@import "tailwindcss";
@import "uniwind";

@theme static {
    --breakpoint-sm-tablet: 480px;
    --breakpoint-lg-tablet: 769px;

    --font-sans: "SF-Pro-Display-Regular";
}

@layer theme {
    :root {
        @variant light {
            /* Brand */
            --color-primary: #57b77d;
            --color-primary-light: #abdbbe;
            --color-primary-tint: #f5fbf7;

            /* Surfaces */
            --color-background: #f5f7f9;
            --color-surface: #ffffff;
            --color-border: #eaeef2;

            /* Text */
            --color-foreground: #000000;
            --color-muted: #6e8597;
        }
        @variant dark {
            /* Brand */
            --color-primary: #57b77d;
            --color-primary-light: #abdbbe;
            --color-primary-tint: #163043;

            /* Surfaces */
            --color-background: #081c2c;
            --color-surface: #163043;
            --color-border: #1f3c51;

            /* Text */
            --color-foreground: #ffffff;
            --color-muted: #3a566a;
        }
    }
}
